@import url("https://fonts.googleapis.com/css?family=Oswald");
#home {
  background-image: url(../../reptiles/david-clode-691484-unsplash.jpg);
}

#sales {
  background-image: url(../../amphibians/zachary-spears-579010-unsplash.jpg);
}

html {
  font-size: 1rem;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, cursive, Times New Roman, Oswald, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

@media screen and (min-width: 1088px) and (max-width: 2000px) {
  #home {
    background-image: url(../../reptiles/mobile_background_2.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left 25px;
  }
}
@media screen and (min-width: 1088px) and (max-width: 2000px) and (width <= 40rem) {
  #home {
    background-image: url(../../reptiles/mobile_background.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}
/*Navigation*/
@media screen and (min-width: 200px) and (max-width: 1200px) {
  #navbar li {
    display: none;
  }
}
nav {
  position: sticky;
  top: -10px;
  background-color: #ffffff;
  width: 100%;
  padding: 0.01% 0 0 0;
  margin-top: -0.6%;
  box-shadow: 2px 2px 6px 2px;
  z-index: 50;
}

nav a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 900;
  color: grey;
  height: 0.2%;
  margin: 0.9% 0 0 0;
}

.hamburger-wrap {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 100;
}

.mobile-bar-butt {
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.mobile-bar-butt div {
  position: absolute;
  background-color: black;
  width: 40px;
  height: 4px;
}

.mobile-bar-butt .bar-first {
  top: 5px;
  left: 5px;
}

.mobile-bar-butt .bar-second {
  top: 20px;
  left: 5px;
}

.mobile-bar-butt .bar-third {
  top: 35px;
  left: 5px;
}

#navbar {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: row;
  height: 8%;
}

#navbar li {
  transition: 0.3s;
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  text-align: center;
  margin: 0.2vw 0.9vw 0.2vw 0.8vw;
}

#navbar li:hover {
  transition: 0.3s;
  font-size: 1.4rem;
  text-shadow: 1px 5px 2px #889ABB;
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
  li#navbrand {
    font-size: 0.9rem;
    display: inline;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: initial;
    width: 15vw;
    text-shadow: 1px 3px 2px grey;
    border-right: 2px solid black;
  }

  li#navbrand:hover {
    font-size: 0.9rem;
    text-shadow: 1px 3px 2px grey;
  }

  div#mobile-bar-button {
    display: none;
  }

  #mobile-nav-menu {
    display: none;
  }
}
@media screen and (min-width: 200px) and (max-width: 1200px) {
  li#navbrand {
    display: inline;
    display: contents;
    font-size: 0.7rem;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    text-shadow: 1px 3px 2px grey;
  }

  li#navbrand:hover {
    font-size: 0.7rem;
    text-shadow: 1px 3px 2px grey;
  }

  div#mobile-bar-button {
    display: contents;
    /*
    display: flex;
    flex: initial;
    justify-content: flex-start;
    position: absolute;
    top: 15px;
    left: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    */
  }
}
@media screen and (min-width: 200px) and (max-width: 1200px) and (min-width: 600px) and (max-width: 800px) {
  div#mobile-bar-button {
    display: contents;
    /*
    display: flex;
    position: absolute;
    top: 15px;
    left: 10px;
    flex: initial;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    */
  }

  li#navbrand {
    display: inline;
    display: contents;
    font-size: 0.8rem;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    text-shadow: 1px 3px 2px grey;
  }

  li#navbrand:hover {
    font-size: 0.8rem;
  }
}
/*Mobile menu */
@media screen and (min-width: 200px) and (max-width: 1200px) {
  #mobile-nav-menu {
    display: flex;
    flex: 1;
    position: absolute;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #fff;
    list-style: none;
    margin-top: 0.4vh;
    box-shadow: 4px 4px 8px;
    width: 250px;
    height: 440px;
  }

  #mobile-nav-menu li {
    transition: 0.5s;
    border-radius: 1px;
    font-size: 1.2rem;
    margin-top: 30px;
    width: 10%;
    padding-bottom: 20px;
    justify-content: flex-start;
    border: 2px solid black;
  }

  #mobile-nav-menu a {
    justify-content: center;
    width: 10px;
    margin: 1px 0 1px 0;
    height: 0px;
    border-bottom: 2px solid black;
  }

  nav {
    position: fixed;
    top: 0px;
  }
}
@media screen and (min-width: 200px) and (max-width: 1200px) and (orientation: landscape) {
  #mobile-nav-menu {
    display: flex;
    flex: 1;
    position: absolute;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    list-style: none;
    margin-top: 0.4vh;
    box-shadow: 4px 4px 8px;
    width: 450px;
    height: 300px;
  }

  li#mobile-nav-menu a {
    justify-content: center;
    width: 3%;
    margin: 1px 0 5px 0;
    height: 7px;
    border-bottom: 2px solid black;
  }
}
@media screen and (min-width: 200px) and (max-width: 1200px) and (min-width: 200px) and (max-width: 400px) {
  #mobile-nav-menu > ul {
    display: flex;
    flex: initial;
    position: absolute;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #fff;
    list-style: none;
    margin-top: 0.5vw;
    box-shadow: 4px 4px 8px;
    width: 250px;
    height: 440px;
  }

  #mobile-nav-menu li {
    border-radius: 8px;
    font-size: 1.2rem;
    margin-top: 5px;
    margin: 40px 0 0 0;
    justify-content: flex-start;
  }

  #mobile-nav-menu a {
    justify-content: center;
    width: 1px;
    margin: 1px 0 1px 0;
    height: 5px;
    border-bottom: 2px solid black;
  }
}
/*End navigation*/
.has-scroll {
  overflow-y: scroll;
  height: 250px;
}

.is-visible {
  display: contents;
}

.is-hidden {
  transition: 1.5s;
  display: none !important;
}

.is-small-text {
  font-size: 0.8rem;
}

.is-medium-text {
  font-size: 1.3rem;
}

.text-is-grey {
  color: #595959;
}

.no-indent {
  text-indent: 0;
}

.text-is-left-side {
  text-align: left;
}

.text-is-center {
  margin-left: auto;
  margin-right: auto;
}

.section-line {
  border-bottom: 2px solid black;
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  flex: 1;
  text-align: center;
}

div.space-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1088px) and (max-width: 3000px) {
  #main-content {
    background-color: #ffffff;
    width: 70%;
    border-radius: 8px 8px 8px 8px;
    font-size: 1.4rem;
    margin-left: 0.2vw;
    margin-top: 1vh;
    border: 1px solid black;
    box-shadow: 5px 5px 10px;
  }
}
@media screen and (min-width: 650px) and (max-width: 1088px) {
  #main-content {
    background-color: #ffffff;
    width: 80%;
    border-radius: 8px 8px 8px 8px;
    font-size: 1.1rem;
    margin-top: 6.5rem;
    box-shadow: 5px 5px 10px;
  }
}
@media all and (min-width: 200px) and (max-width: 650px) {
  #main-content {
    background-color: #ffffff;
    width: 98%;
    border-radius: 8px 8px 8px 8px;
    font-size: 1rem;
    margin-top: 8.5rem;
    box-shadow: 5px 5px 10px;
  }
}
@media screen and (min-width: 1088px) and (max-width: 2000px) {
  table {
    table-layout: fixed;
    font-size: 1.2rem;
    font-family: Oswald;
    border: 1px solid black;
    width: 35vw;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  table thead {
    background-color: #e6e6e6;
  }
  table th {
    background-color: #e6e6e6;
  }
  table td {
    background-color: #ffffff;
    border: 1px solid black;
  }
}
@media screen and (min-width: 650px) and (max-width: 1088px) {
  table {
    table-layout: fixed;
    font-family: Oswald;
    font-size: 1rem;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  table thead {
    background-color: #b3b3b3;
  }
  table th {
    background-color: #e6e6e6;
  }
  table td {
    background-color: #ffffff;
    border: 1px solid black;
  }
}
@media screen and (min-width: 200px) and (max-width: 650px) {
  table {
    font-size: 1rem;
    border: 1px solid black;
    width: 97.2vw;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: Oswald;
    font-size: 1rem;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  table th {
    background-color: #e6e6e6;
  }
  table td {
    background-color: #ffffff;
    border: 1px solid black;
  }
}
.button-line {
  background-color: black;
  width: 25px;
  height: 2px;
  margin: 0 0 5px 0;
  display: block;
}

.gallery-text {
  font-family: Oswald;
}

@media screen and (min-width: 1080px) and (max-width: 2000px) {
  .img-size {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1080px) and (max-width: 2000px) and (min-width: 600px) and (max-width: 1080px) {
  .img-size {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1080px) and (max-width: 2000px) and (min-width: 200px) and (max-width: 600px) {
  .img-size {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.gallery-slider {
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
  box-shadow: 3px 3px 25px;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
}

.has-shadow {
  box-shadow: 1px 1px 10px;
  display: flex;
}

.scroll-y {
  overflow-y: scroll;
  white-space: nowrap;
}

.has-float-left {
  /*float: left;*/
  margin-right: 80%;
}

.has-float-right {
  margin-left: 60%;
}

#interests {
  padding-top: 10%;
  padding-bottom: 0%;
}

.is-clear {
  clear: both;
}

.text {
  position: absolute;
}

.left {
  left: 20%;
}

.right {
  right: 20%;
}

.block {
  display: block;
}

.background {
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 20px;
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
  .relative-left {
    position: absolute;
    text-align: center;
    right: 55%;
    top: 35%;
    z-index: 10;
  }

  .relative-right {
    position: absolute;
    text-align: center;
    left: 55%;
    top: 35%;
    z-index: 10;
  }

  .interest-text {
    font-size: 1.4rem;
    font-family: Oswald;
  }
}
@media screen and (min-width: 900px) and (max-width: 1500px) {
  .relative-left {
    position: absolute;
    text-align: center;
    right: 55%;
    top: 15%;
    z-index: 10;
  }

  .relative-right {
    position: absolute;
    text-align: center;
    left: 55%;
    top: 15%;
    z-index: 10;
  }

  .interest-text {
    font-size: 1.3rem;
    font-family: Oswald;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .relative-left {
    position: absolute;
    text-align: center;
    right: 55%;
    top: 15%;
    z-index: 10;
  }

  .relative-right {
    position: absolute;
    text-align: center;
    left: 55%;
    top: 15%;
    z-index: 10;
  }

  .interest-text {
    font-size: 1.3rem;
    font-family: Oswald;
  }
}
@media screen and (min-width: 450px) and (max-width: 600px) {
  .relative-left {
    position: absolute;
    text-align: center;
    right: 55%;
    top: 15%;
    z-index: 10;
  }

  .relative-right {
    position: absolute;
    text-align: center;
    left: 55%;
    top: 15%;
    z-index: 10;
  }

  .interest-text {
    font-size: 1rem;
    font-family: Oswald;
  }
}
@media screen and (min-width: 300px) and (max-width: 450px) {
  .relative-left {
    position: absolute;
    text-align: center;
    right: 60%;
    top: -5%;
    z-index: 10;
  }

  .relative-right {
    position: absolute;
    text-align: center;
    left: 50%;
    top: -5%;
    z-index: 10;
  }

  .interest-text {
    font-size: 0.9rem;
    font-family: Oswald;
  }
}
@media screen and (min-width: 300px) and (max-width: 450px) and (min-width: 150px) and (max-width: 300px) {
  .interest-text {
    font-size: 0.9rem;
    font-family: Oswald;
  }
}
/*
.img-item  {
	overflow-x: hidden;
	overflow-y: hidden;
    white-space: nowrap;
    margin-left: 0.5%;
    margin-right: 0.5%;
    position: relative;
}

.img-item > img {
	display: block;
	position: relative;
	max-width: 100%;
	height: auto;
}
*/
@media screen and (min-width: 1080px) and (max-width: 2000px) {
  .text-box {
    position: absolute;
    text-align: center;
    color: #ffffff;
    z-index: 25;
    bottom: 0;
    left: 25%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Oswald;
    font-size: 1.1rem;
  }

  .img-item {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 5px;
    position: relative;
  }

  .img-item > img {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 100px) and (max-width: 1080px) {
  .text-box {
    position: absolute;
    text-align: center;
    color: #ffffff;
    z-index: 25;
    bottom: 0;
    left: 40%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Oswald;
  }

  .img-item {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 10px;
    position: relative;
  }

  .img-item > img {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
  }
}
.selection-text > h5 {
  display: inline-block;
}

.img-zoom > img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  transform: scale(1.2);
}

.img-zoomout {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  transform: scale();
}

.has-grid {
  display: grid;
  grid-template-columns: repeat(3, 40%);
  grid-gap: 1rem;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .has-flex {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex: 1 1 0;
    margin-bottom: 1.5%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 2000px) and (min-width: 600px) and (max-width: 1200px) {
  .has-flex {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    flex: 1 1 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1080px) and (max-width: 2000px) {
  .space-box {
    width: 100%;
  }
}
@media screen and (min-width: 1080px) and (max-width: 2000px) and (width <= 50rem) {
  .space-box {
    width: 10%;
  }
}
@media screen and (min-width: 900px) and (max-width: 2000px) {
  #footer {
    background-color: #ffffff;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 8px 8px 8px 8px;
  }
}
@media screen and (min-width: 200px) and (max-width: 900px) {
  #footer {
    background-color: #ffffff;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 8px 8px 8px 8px;
  }
}
@media screen and (width <= 40rem) and (width <= 30rem) {
  #footer {
    background-color: #ffffff;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 8px 8px 8px 8px;
  }
}

/*# sourceMappingURL=main.css.map */
